---
const { 
    title="", 
    description=""
    } = Astro.props;
---

<div class="card-default">
    <h3 class="primary-text font-bold">
        {title}
    </h3>

    <p class="primary-text">
        {description}
    </p>
</div>