<section id='about' class=" flex flex-col xl:flex-row justify-between items-start max-w-3xl xl:max-w-6xl w-full p-5">

    <p class="text-4xl xl:text-xl font-mono w-1/1 xl:w-1/2">
        We empower users through cough and voice analysis, offering early screening, personalized monitoring, and clinical insights — all from a simple audio sample.<br/>
        <br/>Voxel is your trusted partner at the intersection of medical science and deep technology. </p>

    <p class="font-lg font-mono w-1/1 xl:w-1/2">
        Image will go here
    </p>
    
</section>