---
import { Image } from 'astro:assets';
import cough from '@/images/cough.png';
---


<section class="max-w-primary flex flex-col xl:flex-row justify-between items-start default-padding default-gap">

    <div class="w-full">

        <p class="primary-text">
            <span class="font-bold">Voxel</span> is a cutting-edge AI-powered platform designed to transform respiratory healthcare using the most accessible biometric: your voice. It is designed to assist clinicians and patients in the early detection, monitoring, and management of respiratory diseases—particularly Chronic Obstructive Pulmonary Disease (COPD). This smarter diagnostic tools enables multimodal analysis of patient data to shape the future of digital health. Voxel brings the science of sound and intelligence of AI together for better outcomes.
        </p>

        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

        <p class="primary-text">
            <span class="font-bold">We</span> empower users through cough and voice analysis, offering early screening, personalized monitoring, and clinical insights — all from a simple audio sample. Voxel is your trusted partner at the intersection of medical science and deep technology.
        </p>

    </div>

    <div class="w-full">
        <Image 
            src={cough} 
            alt="Wireframe of man coughing" 
            class="h-full w-auto rounded-xl"
        />
    </div>
    
</section>