<section class=" flex justify-between items-start max-w-5xl w-full p-5">

    <p class="font-lg font-mono w-1/2">
        Voxcel uses state-of-the-art audio processing sofware to predict the likelihood of a COPD flare up.<br/>
        Entirely from <span class="text">home</span>. Entirely on smartphone.
    </p>

    <p class="font-lg font-mono">
        Image will go here
    </p>
    
</section>