<section id='about' class="w-full flex items-center justify-center">

    <div class="max-w-primary default-padding text-left">
        <p class="primary-text heading-text-size">
            Voxel — <br/>
            Voice That Excel <br/>
        </p>
    </div>

</section>