<section class="bg-orange-200 h-64 flex items-center justify-center rounded-b-4xl">

    <div class="max-w-5xl w-full px-4 mx-auto text-left">
        <p class="text-6xl font-medium font-mono text-stone-600">Voxcel <br/>AECOPD Detection</p>
    </div>

</section>