<section id='about' class="w-full h-32 flex items-center justify-center">

    <div class="max-w-3xl xl:max-w-6xl w-full px-4 mx-auto text-left">
        <p class="text-6xl xl:text-5xl font-bold xl:font-medium font-mono text-stone-600">
            Voxel — <br/>
            Voice That Excel <br/>
        </p>
    </div>

</section>