---
const timelineItems = [
  { year: "2023", title: "Initial research on AI-based cough diagnostics began"},
  { year: "2024", title: "Prototype developed using COPD patient data from clinical collaborations" },
  { year: "2025", title: "Formation of Voxel; pilot trials with clinicians and hospital" },
  { year: "2026", title: "Alpha launch for patient and clinician users" },
  { year: "2027", title: "Expansion to asthma and other pulmonary conditions" },
  { year: "2028", title: "FDA/UKCA clearance submission & commercial B2B partnerships)*" }
];
---

<!-- Timeline container -->
<div id="journey" class="py-8">
  <div class="w-full max-w-3xl xl:max-w-6xl mx-auto px-4 relative">

    <!-- Scrollable row -->
    <div class="flex overflow-x-scroll masked-edges default-padding">

      <div class="w-64 flex-shrink-0"/>

      {timelineItems.map((item) => (
        <li class="list-none max-w-sm flex-shrink-0 grow-on-hover default-padding">
          <h3 class="primary-text font-semibold mb-2">{item.year}</h3>
          <p class="primary-text">{item.title}</p>
        </li>
      ))}

      <div class="w-64 flex-shrink-0"/>

    </div>
  </div>
</div>
