---
import SegmentLayout from "@/components/HomepageSegment.astro";
import BenefitCard from "@/components/cards/BenefitCard.astro";

const benefits = [
  {
    title: "Early Detection",
    description: "Identify respiratory decline before symptoms worsen",
  },
  {
    title: "Non-invasive Monitoring",
    description: "Just cough into your phone — no hospital visits required",
  },
  {
    title: "Personalized Insights",
    description: "Visualize your lung health trends and progress over time",
  },
  {
    title: "Smart Alerts",
    description: "Know when to see a doctor, before it’s too late.",
  },  {
    title: "Ease of use",
    description: "A secure, private, and user-friendly mobile app that lets you chat or speak your health queries directly to an AI assistant (LLM-powered)",
  },
    {
    title: "Powered by AI",
    description: "Developed by researchers using validated clinical data and deep learning models",
  },
];

---

<SegmentLayout 
section_id="whyvoxcel" 
section_title="Why Voxcel" 
background_color="bg-primary" 
text_color="text-color-light">

  <div class="grid grid-cols-1 lg:grid-cols-3 default-gap default-padding">
    {benefits.map((benefit) => (
      <BenefitCard
        title={benefit.title}
        description={benefit.description}
      />
    ))}
  </div>

</SegmentLayout>