---
import "@/styles/global.css";

import Head from '@/components/Head.astro';

const { title = "Voxcel" } = Astro.props;
---

<html>
  <head>
    <Head {title}>
  </head>

  <body class="bg-white">
    <main class="grow flex flex-col items-center"><slot/></main>
  </body>
  
</html>